.btn {
    color: white;
    background-color: #005B8E;

    text-align: center;

    padding-top: 1px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;

    border-radius: 6px;
}

.btn:hover {
    cursor: pointer;
    background-color: #003c5f;
}